@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hr />
    <hgroup>

        <h2>Ups! No cuenta con permisos para realizar esta acción.</h2>
        <h3>Por favor contacte al administrador del sistema.</h3>
    </hgroup>
</body>
</html>
