@model RHQuercus.Ocupacion

@{
    ViewBag.Title = "Delete";
}

<h3>Desea eliminar esta ocupación?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ocupación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreOcu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salario)
        </dt>

        <dd>
         ₡:   @Html.DisplayFor(model => model.Salario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |            
        </div>
    }
</div>
